.discover_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;

}

.discover_header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0rem 6rem;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 43px;
    /* identical to box height */

    color: #FFFFFF;

    h2 {
        width: 292px;
        height: 43px;
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 43px;
        color: #FFFFFF;
    }

    span {
        color: #FBC94A;
    }
}